*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0, 0.70), rgb(0, 0, 0, 0.70)), url("../image/photo.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.container .content{
    padding-top: 20px;

}

.container .title{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
padding: 20px;
}
.container .content .carte{
    background-color: #ffffff;
    height: auto;
}
.images{
    width: 270px;
    height: 370px;
}



.container .content .carte .cart-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 2);
}
.container .content .carte .cart-link .link{
    color: #fff;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cart-link .link a{
    text-decoration: none;
    color: #000;
}
.container .content .carte .cart-link .link a.active{
    color: #fff;
}
.container .content .carte .cart-link .link:nth-child(1){
    background-color: #05c46b;
    width: 112%;
}

.container .content .carte .cart-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.container .content .carte .cart-form .form-title{
    text-align: center;

}

.container .content .carte .cart-form form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 19px;
} 
.carte .cart-form form .input-cart{
    position: relative;
}
.carte .cart-form form .input-cart input{
    width: 100%;
    padding: 10px 25px 10px;
    border: none;
    outline: none;
    background-color: #d2dae2;
    border-radius: 4px;
    
}
.carte .cart-form form .input-cart span{
    position: absolute;
    top: 7px;
    left: 5px;
    color: #5a5858;
}
.carte .cart-form form .input-cart button{
    margin-top: 20px;
    width: 100%;
    background-color: #05c46b;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 15px;
}
.forget-password{
    text-align: center;
    margin-top: 20px;
}
.forget-password a{
    text-decoration: none;
    color: #5a5858;
}
.container .footer{
    position: absolute;
    bottom: 10px;
    left: 35%;
    color: #fff;
    
}  

.cart-img{
    background-image: url('../image/dp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}



